*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(23, 23, 23);
    min-height: 100vh;
    color: rgb(198, 198, 198);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* hr {
    color: transparent;
} */

body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: rgb(209, 209, 209);
    background: none;
}

button:hover {
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bolder;
    
}

button:focus {
    outline: 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    background-color: transparent;
    width: max-content;
    margin: 0px;
    flex: 1;
    max-width: 500px;
}

.content-title {
    font-size: medium;
}

/* Header */
.header-content {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.nav-menu ul {
    list-style: none;
    display: flex;
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
}

.menu-button, .home-button, .resume-page button {
    background: none;
    height: fit-content;
    font-size: x-small;
}

.home-button {
    font-weight: bolder;
}

/* About Me */
.about-me p {
    font-size: x-small;
    margin-top: 8px;
    margin-bottom: 10px;
}
/* Projects and Experiences */

.main-projects-grid, .main-experiences-grid {
    display: flex;
    justify-content: space-between;
}

/* Footer */ 
.footer p, .footer-caption {
    font-size: xx-small;
    font-weight: normal;
    margin-bottom: 2px;
}

/* Links */
.links-caption {
    font-size: small;
}

.links-content img {
    height: 15px;
    margin-right: 4px;
    margin-left: 1px;
}

#github-image {
height: 17px;
}

.links ul {
    list-style: none;
    display: flex;
}

.links li {
    display: inline;
}

/* Resume */
.resume-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* centering horizationally */
    overflow: auto; /* Allow scrolling */
} 

.resume-page button {
    margin-top: 12%;
    width: 200px;
}


#resume {
    transform: rotate(90deg);
    max-height: 400px;
    max-width: 100%;
    display: block;
    margin-top: 15%;
}