*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    display: none;
}

html, body {
    background-color: rgb(23, 23, 23);
    min-height: 100vh;
    color: rgb(198, 198, 198);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 450px;
  }
  
.header,
.footer {
    flex-shrink: 0;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}


body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: rgb(209, 209, 209);
    background: none;
}

header button:hover {
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bolder;
}

button:focus {
    outline: 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    background-color: transparent;
    width: max-content;
    margin: 0px;
    flex: 1;
    max-width: 450px;
}

.content-title {
    font-size: medium;
}

/* Slide-in animation */
@keyframes slideIn {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInParts {
    from {
      transform: translateY(5%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.slide-in {
  animation: slideIn 1s ease-out;
}

.slide-in-parts {
    animation: slideInParts 1s ease-out;
}

.delay-0 {
  animation-delay: 0.5s;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 0.8s;
}

/* Header */
.header-content {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    margin-top: 1vh;
}

ul {
    list-style: none;
    display: flex;
}

li {
    display: inline;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
}

.menu-button, .home-button, .resume-page button {
    background: none;
    height: fit-content;
    font-size: x-small;
}

.home-button {
    font-weight: bolder;
}

/* About Me */
.about-me p {
    font-size: x-small;
    margin-top: 8px;
    margin-bottom: 10px;
}


/* Projects and Experiences */

.main-projects-grid, .main-experiences-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5vh;
    max-width: 450px;
}

.content-subtitle {
    font-size: small;
}

.content-description {
    font-size: x-small;
}

.content-date, .content-role, .back-button {
    font-size: xx-small;
    color: rgb(177, 177, 177);
    background-color: transparent;
}

.content-description {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.project-tile {
    padding: 5px;
}

.project-tile:hover, .footer-main button:hover {
    border: 0.5px solid rgb(209, 209, 209);
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(52, 52, 52);
}

.project-tile-section, .experience-tile {
    max-width: 450px;
}

.experience-page .experience-tile {
    margin-bottom: 4vh;
    margin-top: 1vh;
}

.projects-page .project-tile {
    margin-top: 0.2vh;
    /* margin-bottom: 0.3vh; */
}


/* Footer */ 

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.footer p, .footer-caption {
    font-size: xx-small;
    font-weight: normal;
    margin-bottom: 2px;
}

.footer-main button {
    height: fit-content;
    align-self: flex-end;
}

/* Links */
.links-caption {
    font-size: small;
}

.links-content img {
    height: 15px;
    margin-right: 4px;
    margin-left: 1px;
}

#github-image {
height: 17px;
}

.links ul {
    list-style: none;
    display: flex;
}

.links li {
    display: inline;
}

/* Resume */
.resume-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* centering horizationally */
} 

.resume-page button {
    margin-top: 12%;
    width: 200px;
}


#resume {
    transform: rotate(90deg);
    max-height: 400px;
    max-width: 100%;
    display: block;
    margin-top: 15%;
}